p {
    color: #727272;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

.hero__content {
    max-width: 1028px;
    align-items: center;
    margin: 0 auto;
    margin-top: 162px;
}

.hero__title {
    margin-left: 130px;
}

button {
    background: #34547A;
    width: 225px;
    height: 65px;
    border: none;
    color: #EEEFF1;
    margin-bottom: 146px;
    cursor: pointer;
}
