.video {
    background: #EEEFF1;
}

.video__content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video__title {
    max-width: 540px;
    margin: 0 auto;
}

iframe {
    border-radius: 20px;
}